<%= render 'pages/navbar2' %>

<div class="container-fluid">
        <div class="row justify-content-center mt-3">
    
        <% @bookings.each do |booking| %>
          <div class="card border col-5" style="width: 30rem;">
            <div class="card-header">
              <a href="/courts/" class="btn w-100">
                <h5 class="card-title text-center"><%= booking.court.address %></h5>
              </a>
            </div>
                  <% if booking.court.photos.attached? %>
                  <%= cl_image_tag booking.court.photos[0].key, alt: "image", class: "card-img-top img-fluid", style: "max-height: 400px", style: "max-height: 400px" %>
                  <% else %>
                  <%= image_tag "https://www.openplay.co.uk/uploads/6Z9XOO8BE6cxIW6b-600x_.jpg", alt: "alttext", class: "card-img-top img-fluid"%>
                  <% end %>
              <div class="card-body">
                <p class="card-text text-center"><%= (booking.court.created_at).strftime("Booked on %m/%d/%Y at %H:%M") %></p>
              </div>
              <div class="card-body row">
                <div class="col-6">
                    <div class="card-text">
                        <a href="/courts/<%= booking.court_id %>" class="btn text-center">
                          <p>Start: <%= (booking.start_time).strftime("%m/%d/%Y at %H:%M") %></p>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-text">
                        <a href="/courts/<%= booking.court_id %>" class="btn text-center">
                          <p>End: <%= (booking.end_time).strftime("%m/%d/%Y at %H:%M") %></p>
                        </a>
                    </div>
                </div>  
              </div>
          </div>
    <% end %>
    </div>
</div>
