<%= render 'pages/navbar2' %>

<div class="bookings-index-page-container">
        <div class="row mt-3">
    
        <% @bookings.each do |booking| %>
          <div class="card border-0 shadow-sm col-6 bg-transparent m-0 mb-3">
            <div class="card-header">
              <a href="/courts/<%= booking.court_id %>" class="btn">
                <h5 class="card-title text-left font-weight-bolder nunito"><i class="far fa-calendar-plus nav-logo-icon2 mr-4"></i><%= booking.court.address %></h5>
              </a>
            </div>
                  <% if booking.court.photos.attached? %>
                  <%= cl_image_tag booking.court.photos[0].key, alt: "image", class: "card-img-top img-fluid rounded", style: "max-height: 400px" %>
                  <% else %>
                  <%= image_tag "https://www.openplay.co.uk/uploads/6Z9XOO8BE6cxIW6b-600x_.jpg", alt: "alttext", class: "card-img-top img-fluid", style: "max-height: 400px"%>
                  <% end %>
              <div class="card-body">
                <p class="card-text text-left lead font-weight-bold"><%= (booking.court.created_at).strftime("Booked on %m/%d/%Y") %></p>
              </div>
              <br>
              <div class="card-body row">
                <div class="col-5">
                    <div class="card-text">
                        <a href="/courts/<%= booking.court_id %>" class="btn text-left">
                          <p class="lead">Start: <%= (booking.start_time).strftime("%m/%d/%Y at %H:%M") %></p>
                        </a>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card-text">
                        <a href="/courts/<%= booking.court_id %>" class="btn text-left">
                          <p class="lead">End: <%= (booking.end_time).strftime("%m/%d/%Y at %H:%M") %></p>
                        </a>
                    </div>
                </div>  
                <div class="col-2">
                    <div class="card-text">
                        <a href="/courts/<%= booking.court_id %>" class="btn text-left">
                          <%# <i class="fas fa-check-circle pink-icon-lg p-1"></i> %>
                        </a>
                    </div>
                </div>  
              </div>
          </div>
    <% end %>
    </div>
</div>
