<%= render 'pages/navbar2' %>

<div class="container">
  <div class="row justify-content-center bg-light rounded">
    <div class="row justify-content-center">
      <% @bookings.each do |booking| %>
        <a href="/courts/<%= booking.court_id %>" class="text-decoration-none">
          <div class=" col-5 bookings-card border m-3 rounded">
            <div class="card-img ">
              <% if booking.court.photos.attached? %>
                <%= cl_image_tag booking.court.photos[0].key, alt: "alttext", height: 200, width: 400, crop: :fill %>
              <% else %>
                <%= image_tag "https://www.openplay.co.uk/uploads/6Z9XOO8BE6cxIW6b-600x_.jpg", alt: "alttext", height: 200, width: 400 %>
              <% end %>
            </div>
            <h2><%= booking.court.address %></h2>
            <p>Start: <%= booking.start_time %></p>
            <p>End: <%= booking.end_time %></p>
          </div>
        </div>
        </a>
    <% end %>
  </div>
</div>
