<%= render 'pages/navbar2' %>



<div class="container">
    
                  <% @courts.each do |court| %>
                  <%= link_to court_path(court.id), class: "text-decoration-none" do%>

                  <div class="card-product mt-3 p-3 btn">
                        <% if court.photos.attached? %>
                              <% court.photos.each do |photo| %>
                              <%= cl_image_tag photo.key, height: 100, width: 120, crop: :fill %>
                              <% end %>
                        <% end %>
                              <div class="card-trip-infos ml-3">
                                    <div>
                                          <h2><%= court.address %></h2>
                                          <p><%= court.description %></p>
                                    </div>
                                    <h2 class="card-trip-pricing card-trip-user">£<%= court.price %>/Hr</h2>
                              </div>
                        </div>
                        <% end %>
                  <% end %>
         
</div>
