<%= render 'pages/navbar2' %>

<div class="bg-light shadow-lg mt-5 container p-3">
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-9">
    <div class="bg-light p-4 rounded mx-auto w-75">
      <h3 class="mb-5">Please enter the details of your court below.</h3>
      <%= simple_form_for @court do |f| %>
      <%= f.input :address, placeholder: "666 Hillsbury Avenue" %>
      <%= f.input :description, placeholder: "Why your court is the best" %>
      <%= f.input :price, as: :numeric, placeholder: "A whole lot of m's" %>
      <%= f.input :category, as: :radio_buttons, collection: %w(Indoor Outdoor) %>
      <%= f.input :surfaces, as: :radio_buttons, collection: %w(Clay Hardcore Grass Concrete) %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }%>
      <div>
        <div class="d-inline-flex">
            <div class="col-6">
            <%= f.submit  class: "btn btn-success rounded mt-5 shadow-sm" %>
            </div>
            <div class="col-6">
              <%= link_to "Back", courts_path, class: "btn btn-secondary rounded mt-5 ml-2 shadow-sm" %>
            </div>
        </div>
      </div>
    <% end %>
    

    </div>
  </div>
</div>
