<%= render 'pages/navbar2' %>

<div class="container m-3 p-3 border">
    <% if @court.photos.attached? %>
        <% @court.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 100, width: 120, crop: :fill %>
        <% end %>
    <% end %>
    <%= @court.address %>
    <%= @court.price %>
</div>

<%= link_to "Book this court", new_court_booking_path(@court) %>
<br>
<%= link_to "Back", courts_path %>
