<%= render 'pages/navbarMain' %>

<div class="diagonal-box">
  <div class="content">
    <div class="container w-100 justify-content-center d-flex">
        <%= render 'searchnav' %>
    </div>
    <div class="d-inline-flex mr-5">
      <div class="banner-image-container mr-5">
        <div class="row">
          <%= image_tag("kasatkina500", class: 'banner-image col-6', alt: "Tennis pic") %>
        </div>
      </div>
    </div>
    <%# Banner Text %>
    <div class="container d-flex justify-content-end">
      <%# <%= link_to "COURTS", courts_path %>
      <div class="row justify-content-end">
          <div class="col-10 mt-5">
            <div class="display-2 mt-3 mb-1" id="banner-heading">
              Game. Set. Match.
            </div>
            <br>
            <%= link_to 'Find courts', courts_path, class: "banner-btn text-decoration-none" %>
          </div>
      </div>
    </div>
    <%# Grid 1 For Cards %>
    <div class="container-fluid border d-none">
      <div class="row">
        <div class="col-12">
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>


<h2>Play anywhere</h2>

<br>

<div class="card-container-3 mt-3">
  <div class="d-flex flex-column">
    <div class="court-card" >
      <img src="https://video-images.vice.com/_uncategorized/1537288581962-Coolest-Tennis-Courts-2.jpeg?resize=1575:*"/>
    </div>
    <div class="title1" title="Indoor courts">
        <p>Indoor courts</p>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="court-card">
      <img src="https://video-images.vice.com/_uncategorized/1537289035114-Coolest-Tennis-Courts-6.jpeg?resize=1024:*"/>
        <div class="title1" title="Outdoor courts">
          <p>Outdoor courts</p>
        </div>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="court-card">
      <img src="https://video-images.vice.com/_uncategorized/1537288324658-Coolest-Tennis-Courts-1.jpeg?resize=1575:*"/>
        <div class="title1" title="Unique locations">
          <p>Unique locations</p>
        </div>
    </div>
  </div>

</div>

<br>
<br>

<div class="container">

   <div class="large-court-card">

    <div class="heading">
      <h4>Become a host</h4>
      <p>Unlock new oppurtunities by sharing your space</p>
    </div>

  </div>

</div>

<br>
<br>

<h2>Many possibilities</h2>

<br>

<div class="card-container-4 mt-3">

  <div class="d-flex flex-column">
    <div class="small-court-card" >
      <img src="https://video-images.vice.com/_uncategorized/1537288581962-Coolest-Tennis-Courts-2.jpeg?resize=1575:*"/>
    </div>
    <div class="title2" title="Grass">
        <p>Grass</p>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="small-court-card">
      <img src="https://video-images.vice.com/_uncategorized/1537289035114-Coolest-Tennis-Courts-6.jpeg?resize=1024:*"/>
        <div class="title2" title="Clay">
          <p>Clay</p>
        </div>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="small-court-card">
      <img src="https://video-images.vice.com/_uncategorized/1537288324658-Coolest-Tennis-Courts-1.jpeg?resize=1575:*"/>
        <div class="title2" title="Hard">
          <p>Hard</p>
        </div>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="small-court-card">
      <img src="https://video-images.vice.com/_uncategorized/1537288324658-Coolest-Tennis-Courts-1.jpeg?resize=1575:*"/>
        <div class="title2" title="Artificial">
          <p>Artificial</p>
        </div>
    </div>
  </div>

</div>

<br>
<br>

<div class="footer">
  <div class="icons">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-twitter-square"></i>
  </div>
</div>

