<!DOCTYPE html>
<html>
  <head>
    <title>Sportify</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.lime-green.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="diagonal-box">
      <div class="content">
        <%= render 'pages/navbarMain' %>
        <%= render 'pages/pageBtn' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
